.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 952px;
  margin: 0 auto;
}

.headtail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.indexes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.outString {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  padding: 80px 0px 0px 0px;  
  list-style-type: none;
}

.elementsArrows {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}