.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  max-width: 500px;
  min-width: 250px;
  margin: 0 auto;
}

.outString {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 16px;
  column-gap: 16px;
  row-gap: 48px;   
  list-style-type: none;
}